* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #F3EBE1;
    --secondary-color: #1b0618;
    --tertiary-color: #3D1A39;
}
body {
    color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
section {
    padding: 60px;
}
/* Header styling end */

/* Hero styling start */
.hero {
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 250px;
}
/* Hero styling end */

.skills {
    float: right;
    font-size: 28px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--secondary-color);
    background-color: rgba(61, 26, 57, 0.8);
    padding: 40px;
    color: var(--primary-color);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}
.skills:hover{
    position: absolute;
    transform: scale(1.25);
    margin-left: 400px;
    width: 50%;
}
.profile {
    width: 50%;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    margin-top: 20px;
}
.profile h1 {
    position: relative;
    align-items: center;
    border: 3px solid var(--secondary-color);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.experience {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}
.experience h2 {
    margin-bottom: 20px;
}
.experience h3 {
    margin-bottom: 10px;
}
.education {
    border: 3px solid var(--secondary-color);
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
    margin-left: 100px;
}
.education h2 {
    margin-bottom: 20px;;
}
.emoji img {
    width: 30%;
    margin-left: 900px;
    margin-top: -600px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.emoji img:hover {
    transform: scale(1.5);
}
/* main styling end */

/* footer styling start */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    text-decoration: none;
}
footer div {
    line-height: 1.5;
    text-align: right;
    text-decoration: none;
}
footer a {
    color: var(--secondary-color)
}
footer a:hover {
    border-style: solid;
    border-color: var(--tertiary-color);
    border-radius: 10px;
    text-shadow: none;
    font-size: larger;
}
section {
    padding: 60px;
}
/* footer styling end */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .profile {
        justify-content: center;
        margin: auto;
    }
    .experience {
        justify-content: center;
        width: fit-content;
    }
    .skills {
        justify-content: center;
        width: fit-content;
    }
    .education {
        justify-content: center;
        width:fit-content;
    }
    .emoji img {
        justify-content: center;
        width: fit-content;
    }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    .profile {
        justify-content: center;
        margin: auto;
    }
    .experience {
        justify-content: center;
        width: fit-content;
    }
    .skills {
        justify-content: center;
        width: fit-content;
    }
    .education {
        justify-content: center;
        width:fit-content;
    }
    .emoji img {
        justify-content: center;
        width: fit-content;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        width: 100%;
    }
    .profile {
        justify-content: center;
        margin: auto;
    }
    .experience {
        justify-content: center;
        width: fit-content;
    }
    .skills {
        justify-content: center;
        width: fit-content;
    }
    .education {
        justify-content: center;
        width:fit-content;
    }
    .emoji img {
        justify-content: center;
        width: fit-content;
    }
