* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #F3EBE1;
    --secondary-color: #1b0618;
    --tertiary-color: #3D1A39;
}
body {
    color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Header and Navigation Styling */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
ul.topnav li:hover a:not(.active) {
    background: var(--primary-color);
    color: var(--secondary-color);
}
.dropbtn {
    display: none;
}
@media screen and (max-width: 600px){
    ul.topnav,
    ul.topnav {position: unset}
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

ul.topnav .dropdown-content {
  display: none;
  position: absolute;
}
ul.topnav .dropdown-content a {
    display: flex;
    flex-direction: column;
}
ul.topnav .dropdown:hover > .dropdown-content {
  display: block;
}
  
section {
    padding: 60px;
}
/* Header styling end */

/* Hero styling start */
.hero {
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 250px;
}
/* Hero styling end */

/* Profile styling start */
.profile {
    display: flex;
    align-items: center;
    justify-content: center
  }
  img {
    max-width: 100%
  }
  .headshot {
    flex-basis: 100%
  }
  .bio {
    font-size: 20px;
    padding: 30px;
    max-width: 800px;
  }
/* Profile styling end */

/* Video styling start */
h2 {
    text-align: center;
    border: 3px 
    display: flex;
    flex-wrap: wrap;
}
#work {
    border: 3px solid var(--secondary-color);
    border-radius: 15px;
    margin: 75px;
}
.video {
    flex: 1;
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex-wrap: wrap;
    font-style: none;
}
.video iframe {
    width: 100%;
}
.video iframe:hover{
    transform: scale(1.5);
}
.video-description {
    padding: 25px;
    line-height: 1.3;
    font-style: none;
    text-decoration: none;
}
.video-description h3 {
    font-size: 28px;
    font-style: none;
    text-decoration: none;
}
.video-description h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
    font-style: none;
    text-decoration: none;
}
.video-description p {
    font-size: 17px;
}
.demo-videos {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#cardboard-link {
    color: var(--primary-color);
    font-style: bold;
}
/* Video styling end */

/* Social media filter styling start */
.filter {
    flex: 1;
    margin: 20px;
    color: var(--secondary-color);
    flex-wrap: wrap;
}
.filter:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
.filter img {
  width: 100%;
}
.filter img:hover {
    background-color: var(--tertiary-color);
    border-radius: 15px;
    border-width: 30px;
    text-shadow: none;
    transform: scale(1.5);
}
.filter {
    padding: 25px;
    line-height: 1.3;
    display: flex;
    flex-wrap: wrap;
}
.filter h3 {
    font-size: 28px;
}
.filter h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
.caption {
    float: center;
    clear: both;
}
.filters {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Social media filter styling end */

/* Web styling start */
.web {
    width: 100%;
    color: var(--secondary-color);
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: row;
}
.web-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.web:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
.web img {
  height: 80%;
  width: 80%;
  margin-left: 150px;
}
.web img:hover {
    background-color: var(--tertiary-color);
    border-radius: 15px;
    border-width: 30px;
    text-shadow: none;
    transform: scale(1.05);
}
#robot-gladiators {
    align-items: center;
    align-content: center;
}
#robot-gladiators-img {
    margin-left: 50px;
    align-items: center;
}
.web-item {
    padding: 25px;
    line-height: 1.3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.web h3 {
    font-size: 28px;
}
.web h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
.caption {
    float: center;
    clear: both;
    text-align: center;
}
.web-item {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Web styling end */

/* Footer styling start */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    text-decoration: none;
}
footer div {
    line-height: 1.5;
    text-align: right;
    text-decoration: none;
}
footer a {
    color: var(--secondary-color)
}
footer a:hover {
    border-style: solid;
    border-color: var(--tertiary-color);
    border-radius: 10px;
    text-shadow: none;
    font-size: larger;
}
section {
    padding: 60px;
}
/* Footer styling end */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .section {
        width: 80%;
    }
    .video {
        flex: 0 70%;
    }
    .video iframe {
        flex: 1 100%;
    }
    .filter {
        flex: 0 70%;
    }
    .filter img {
        flex: 1 100%;
    }
    .web-item img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    .web-item img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        width: 100%;
    }
    .bio {
        width: 100%;
    }
    .video {
        flex: 0 100%;
    }
    .filter {
        flex: 0 100%;
    }
    .profile {
        display: flex;
        align-items:flex-start;
        flex-wrap: wrap;
    }
    .web-1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .web-item {
        padding: 25px;
        line-height: 1.3;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .web-item img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .web h3 {
        font-size: 28px;
        flex-direction: column;
    }
    .web h4 {
        font-weight: lighter;
        font-size: 22px;
        margin-bottom: 15px;
        flex-direction: column;
    }
    .caption {
        float: center;
        clear: both;
        text-align: center;
        flex-direction: column;
    }
    .web-item {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
    }
}